<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Explorateur de fichiers</title>
  </head>
  <body>
    <center>
      <img class="titre"src="img/titre.png">
      <div class="container-fluid">
        <nav class="col-lg-10">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{ path }}</li>
          </ol>
        </nav>
        <div class="row justify-content-center">
          {% if error %}
            <p style="font-family: 'Cantarell', sans-serif;background-color:red;font-size:30px">{{error}}</p>
          {%else%}
            <div class="col-10 col-lg-3 dossier">
              <img class="titrebis"src="img/dossiers.png"><br>
              {% for folder in folders %}
              <i class="fas fa-folder-open"></i><a href="?dir={{ folder.path }}">
                {{ folder.name }}</a><br>
                <script>
                function myFunction(id) {
                // var x = document.getElementById("{{ file.collapseId }}");
                if (id.style.display === "none") {
                    id.style.display = "block";
                } else {
                    id.style.display = "none";
                }}
                </script>
                <button class="btn btn-light"onclick="myFunction({{ folder.collapseId }})">infos</button>
              </p>
              <div class="collapse" id="{{ folder.collapseId }}">
                  <div class="infos">{{folder.date}}<br>{{folder.filetype}}<br>{{folder.owner}}<br></div><br>
            </div>
              {% endfor %}
          </div>
            <div class="col-10 col-lg-3">
              <input class="backbtn  btn-light" type="button" value="Retour" onclick="history.go(-1)">
            </div>
            <div class="col-10 col-lg-3 file">
              <img class="titrebis" src="img/fichiers.png"><br>
              {% for file in files %}
              <i class="far fa-file"></i><a href="{{ file.path }}" download>
                {{ file.name }}</a><br><p>
                  <script>
                  function myFunction(id) {
                  // var x = document.getElementById("{{ file.collapseId }}");
                  if (id.style.display === "none") {
                      id.style.display = "block";
                  } else {
                      id.style.display = "none";
                  }}
                  </script>

                  <button class="btn btn-light"onclick="myFunction({{ file.collapseId }})">infos</button>
                </p>
                <div class="collapse" id="{{ file.collapseId }}">
                    <div class="infos">{{file.date}}<br>{{file.filetype}}<br>{{file.owner}}<br></div><br>
              </div>
              {% endfor %}
              {% endif %}
            </div>
        </div>
      </div>
    </center>
  </body>
</html>
